@import "_normalize";

// === Fonts ===

@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap");

// === Fonts ===

// === Common ===

body {
	font-family: "Gluten", cursive;
	font-size: 12px;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

// === /Common ===

.header {
	&__inner {
	}

	&__title {
		font-family: "Gluten", cursive;
		font-size: 12px;
	}
}
.container {
}
