@import "_normalize";

// === Fonts ===

@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");

@mixin font-gluten {
	font-family: "Gluten", cursive;
}

@mixin font-source-sans-pro {
	font-family: "Source Sans Pro", sans-serif;
}

// === Fonts ===

// === Common ===

body {
	@include font-source-sans-pro;
	font-size: 14px;
	font-weight: 400;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 30px;
}

// === /Common ===

.header {
	&__inner {
		padding-top: 30px;
	}

	&__title {
		@include font-gluten;
		font-size: 24px;
		font-weight: 700;
	}
}
.container {
}
